## Repeat Setup

In [20]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [21]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [22]:
# Assign the uk_food database to a variable name
db = mongo['uk_food']

In [23]:
# Again, review the collections in our database.
print(db.list_collection_names())

['establishments']

In [24]:
# Again, assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
`Highlights`
* Used `count_documents` to display the number of documents contained in the result.
* Displayed the first document in the results using `pprint`.
* Converted the result to a Pandas DataFrame, printed the number of rows in the DataFrame, and displayed the first 10 rows.

In [25]:
# Again, review the first document in the establishments collection
pprint(db.establishments.find_one())

{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6470219ebb887170403afae1'),
 'geocode': {'latitude': 51.086058, 'longitude': 1.196408},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

### 1. Which establishments have a hygiene score equal to 20?

In [26]:
# Find the establishments with a hygiene score of 20
query_hygiene_20 = {'scores.Hygiene':{'$eq':20}}
results_hygiene_20 =list(establishments.find(query_hygiene_20))

# Use count_documents to display the number of documents in the result
count_hygiene_20 = establishments.count_documents(query_hygiene_20)
print(f"Document_count: {count_hygiene_20}")

# Display the first document in the results using pprint
print("---------------------")
print("displaying first dcoument...")
pprint(establishments.find_one())

Document_count: 41
---------------------
displaying first dcoument...
{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6470219ebb887170403afae1'),
 'geocode': {'latitude': 51.086058, 'longitude': 1.196408},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

In [27]:
# Convert the result to a Pandas DataFrame
# Extract the fields so they're in separate columns in the Pandas DataFrame
aggregated_df_hygiene_20 = pd.json_normalize(results_hygiene_20)

# Display the number of rows in the DataFrame
print(f"Number of rows: {len(aggregated_df_hygiene_20)}")

# Display the first 10 rows of the DataFrame
aggregated_df_hygiene_20.head(10)

Number of rows: 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,6470219fbb887170403b1615,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.276940,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,6470219fbb887170403b1994,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,6470219fbb887170403b1c9e,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.159270,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,6470219fbb887170403b1e8c,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.102020,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,6470219fbb887170403b1e9b,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647021a0bb887170403b285d,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,0.736349,51.541448,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647021a0bb887170403b2a5b,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,0.712167,51.535007,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647021a1bb887170403b3f88,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,0.602364,51.591515,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647021a1bb887170403b43ce,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,0.146450,51.185947,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647021a1bb887170403b4bdb,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,0.462307,51.570050,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [28]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query_local_authority_London = {'LocalAuthorityName': {'$regex': 'London'}, 'RatingValue':{'$gte':4}}
results_local_authority_London =list(establishments.find(query_local_authority_London))

# Use count_documents to display the number of documents in the result
print(f"Document_count: {establishments.count_documents(query_local_authority_London)}")

# Display the first document in the results using pprint
print("---------------------")
print("displaying the first dcoument...")
pprint(establishments.find_one())

Document_count: 33
---------------------
displaying the first dcoument...
{'AddressLine1': 'Wear Bay Road',
 'AddressLine2': 'Folkestone',
 'AddressLine3': 'Kent',
 'AddressLine4': '',
 'BusinessName': 'Wear Bay Bowls Club',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4591.821311183521,
 'FHRSID': 647177,
 'LocalAuthorityBusinessID': 'PI/000041489',
 'LocalAuthorityCode': '188',
 'LocalAuthorityEmailAddress': 'foodteam@folkestone-hythe.gov.uk',
 'LocalAuthorityName': 'Folkestone and Hythe',
 'LocalAuthorityWebSite': 'http://www.folkestone-hythe.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'CT19 6PY',
 'RatingDate': '2014-03-31T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6470219ebb887170403afae1'),
 'geocode': {'latitude': 51.086058, 'longitude': 1.196408},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/647177',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 10, 'Hygiene': 5, 'Structural': 5}}

In [29]:
# Convert the result to a Pandas DataFrame
# Extract the fields so they're in separate columns in the Pandas DataFrame
aggregated_df_local_authority_London = pd.json_normalize(results_local_authority_London)

# Display the number of rows in the DataFrame
print(f"Number of rows: {len(aggregated_df_local_authority_London)}")

# Display the first 10 rows of the DataFrame
aggregated_df_local_authority_London.head(10)

Number of rows: 33

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647021a0bb887170403b3030,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647021a0bb887170403b3359,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249256,51.123623,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647021a1bb887170403b3e9f,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647021a1bb887170403b4ca1,294474,0,PI/000014647,Tilbury Seafarers Centre,Restaurant/Cafe/Canteen,1,Tenants Row Tilbury Docks,Tilbury Essex,,...,0.346325,51.464078,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647021a1bb887170403b4cb6,1315095,0,PI/000036464,Coombs Catering t/a The Lock and Key,Restaurant/Cafe/Canteen,1,Leslie Ford House,Tilbury,Charlton,...,0.346337,51.464066,None,0001-01-01T00:00:00,0,None,0,0,0,0
5,647021a1bb887170403b53ac,294900,0,PI/000019066,Mv Valulla,Other catering premises,7841,Reeds River Cruises LtdKings ReachRiver Thames...,London,,...,0.287555,51.504071,None,0001-01-01T00:00:00,0,None,0,0,0,0
6,647021a2bb887170403b74b9,293756,0,PI/000002538,Tereza Joanne,Other catering premises,7841,Funcraft UK Ltd King George V Dock Woolwich Ma...,London,,...,0.069286,51.501121,None,0001-01-01T00:00:00,0,None,0,0,0,0
7,647021a2bb887170403b7888,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
8,647021a2bb887170403b7897,293772,0,PI/000002585,The Nuance Group (UK) Limited,Retailers - other,4613,Duty Free Shop Passenger Terminal,London City AirportRoyal DocksLondon,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0
9,647021a2bb887170403b7899,294606,0,PI/000016185,WH Smith,Retailers - other,4613,London City Airport,Silvertown London,,...,0.047966,51.504112,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [45]:
# Find the geolocation (longitude and latitude) of 'Penang Flavours'
query = {'BusinessName':'Penang Flavours'}
fields =  {'geocode.longitude':1, 'geocode.latitude':1}
results = establishments.find(query, fields)
pprint(list(results))

[{'_id': ObjectId('647021a48fcbf199dcd89742'),
  'geocode': {'latitude': 51.490142, 'longitude': 0.08384}}]

In [61]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude =  0.08384

query_top_establishments= {'geocode.longitude': {'$lte': (longitude + degree_search), '$gte': (longitude - degree_search)},
        'geocode.latitude': {'$lte': (latitude + degree_search), '$gte': (latitude - degree_search)}, 
        'RatingValue': 5}
sort =  [('scores.Hygiene',1)]

# Print the results
results_top_establishments = list(establishments.find(query_top_establishments).sort(sort))
results_top_establishments[0:5]

[{'_id': ObjectId('647021a2bb887170403b6e44'),
  'FHRSID': 695223,
  'ChangesByServerID': 0,
  'LocalAuthorityBusinessID': 'PI/000178842',
  'BusinessName': 'Iceland',
  'BusinessType': 'Retailers - supermarkets/hypermarkets',
  'BusinessTypeID': 7840,
  'AddressLine1': '144 - 146 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'PostCode': 'SE18 1JQ',
  'Phone': '',
  'RatingValue': 5,
  'RatingKey': 'fhrs_5_en-gb',
  'RatingDate': '2019-11-13T00:00:00',
  'LocalAuthorityCode': '511',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'scores': {'Hygiene': 0, 'Structural': 5, 'ConfidenceInManagement': 5},
  'SchemeType': 'FHRS',
  'geocode': {'longitude': 0.0924199968576431, 'latitude': 51.4871482849121},
  'RightToReply': '',
  'Distance': 4646.946071297699,
  'NewRatingPending': False,
  'meta': {'dataSource': None,
   'extractDate': '0001-01-01T00:00:00',
   'itemCount': 0,
   'returncode': None,
   'totalCount': 0,
   'totalPages': 0,
   'pageSize': 0,
   'pageNumber': 0},
  'links': [{'rel': 'self',
    'href': 'http://api.ratings.food.gov.uk/establishments/695223'}]},
 {'_id': ObjectId('647021a2bb887170403b6e68'),
  'FHRSID': 1380578,
  'ChangesByServerID': 0,
  'LocalAuthorityBusinessID': '14425',
  'BusinessName': 'Howe and Co Fish and Chips - Van 17',
  'BusinessType': 'Mobile caterer',
  'BusinessTypeID': 7846,
  'AddressLine1': 'Restaurant And Premises 107A Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'PostCode': 'SE18 1SE',
  'Phone': '',
  'RatingValue': 5,
  'RatingKey': 'fhrs_5_en-gb',
  'RatingDate': '2021-11-11T00:00:00',
  'LocalAuthorityCode': '511',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 0},
  'SchemeType': 'FHRS',
  'geocode': {'longitude': 0.0925370007753372, 'latitude': 51.4875335693359},
  'RightToReply': '',
  'Distance': 4646.95593107927,
  'NewRatingPending': False,
  'meta': {'dataSource': None,
   'extractDate': '0001-01-01T00:00:00',
   'itemCount': 0,
   'returncode': None,
   'totalCount': 0,
   'totalPages': 0,
   'pageSize': 0,
   'pageNumber': 0},
  'links': [{'rel': 'self',
    'href': 'http://api.ratings.food.gov.uk/establishments/1380578'}]},
 {'_id': ObjectId('647021a2bb887170403b6e74'),
  'FHRSID': 694609,
  'ChangesByServerID': 0,
  'LocalAuthorityBusinessID': 'PI/000116619',
  'BusinessName': 'Volunteer',
  'BusinessType': 'Pub/bar/nightclub',
  'BusinessTypeID': 7843,
  'AddressLine1': '130 - 132 Plumstead High Street',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'PostCode': 'SE18 1JQ',
  'Phone': '',
  'RatingValue': 5,
  'RatingKey': 'fhrs_5_en-gb',
  'RatingDate': '2019-08-05T00:00:00',
  'LocalAuthorityCode': '511',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 0},
  'SchemeType': 'FHRS',
  'geocode': {'longitude': 0.09208, 'latitude': 51.4873437},
  'RightToReply': '',
  'Distance': 4646.965634598608,
  'NewRatingPending': False,
  'meta': {'dataSource': None,
   'extractDate': '0001-01-01T00:00:00',
   'itemCount': 0,
   'returncode': None,
   'totalCount': 0,
   'totalPages': 0,
   'pageSize': 0,
   'pageNumber': 0},
  'links': [{'rel': 'self',
    'href': 'http://api.ratings.food.gov.uk/establishments/694609'}]},
 {'_id': ObjectId('647021a2bb887170403b6e8b'),
  'FHRSID': 695241,
  'ChangesByServerID': 0,
  'LocalAuthorityBusinessID': 'PI/000179088',
  'BusinessName': 'Plumstead Manor Nursery',
  'BusinessType': 'Caring Premises',
  'BusinessTypeID': 5,
  'AddressLine1': 'Plumstead Manor School Old Mill Road',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'PostCode': 'SE18 1QG',
  'Phone': '',
  'RatingValue': 5,
  'RatingKey': 'fhrs_5_en-gb',
  'RatingDate': '2021-06-16T00:00:00',
  'LocalAuthorityCode': '511',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 5},
  'SchemeType': 'FHRS',
  'geocode': {'longitude': 0.0859939977526665, 'latitude': 51.481517791748},
  'RightToReply': '',
  'Distance': 4646.9740101340385,
  'NewRatingPending': False,
  'meta': {'dataSource': None,
   'extractDate': '0001-01-01T00:00:00',
   'itemCount': 0,
   'returncode': None,
   'totalCount': 0,
   'totalPages': 0,
   'pageSize': 0,
   'pageNumber': 0},
  'links': [{'rel': 'self',
    'href': 'http://api.ratings.food.gov.uk/establishments/695241'}]},
 {'_id': ObjectId('647021a2bb887170403b6e8e'),
  'FHRSID': 694478,
  'ChangesByServerID': 0,
  'LocalAuthorityBusinessID': 'PI/000086506',
  'BusinessName': 'Atlantic Fish Bar',
  'BusinessType': 'Takeaway/sandwich shop',
  'BusinessTypeID': 7844,
  'AddressLine1': '35 Lakedale Road',
  'AddressLine2': '',
  'AddressLine3': 'Plumstead',
  'AddressLine4': 'Greenwich',
  'PostCode': 'SE18 1PR',
  'Phone': '',
  'RatingValue': 5,
  'RatingKey': 'fhrs_5_en-gb',
  'RatingDate': '2021-06-16T00:00:00',
  'LocalAuthorityCode': '511',
  'LocalAuthorityName': 'Greenwich',
  'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
  'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
  'scores': {'Hygiene': 0, 'Structural': 0, 'ConfidenceInManagement': 5},
  'SchemeType': 'FHRS',
  'geocode': {'longitude': 0.0912164, 'latitude': 51.4867296},
  'RightToReply': '',
  'Distance': 4646.974611855838,
  'NewRatingPending': False,
  'meta': {'dataSource': None,
   'extractDate': '0001-01-01T00:00:00',
   'itemCount': 0,
   'returncode': None,
   'totalCount': 0,
   'totalPages': 0,
   'pageSize': 0,
   'pageNumber': 0},
  'links': [{'rel': 'self',
    'href': 'http://api.ratings.food.gov.uk/establishments/694478'}]}]

In [63]:
# Convert result to Pandas DataFrame
# Extract the fields so they're in separate columns in the Pandas DataFrame
aggregated_df_top_establishments= pd.json_normalize(results_top_establishments)
aggregated_df_top_establishments.head(5)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,647021a2bb887170403b6e44,695223,0,PI/000178842,Iceland,Retailers - supermarkets/hypermarkets,7840,144 - 146 Plumstead High Street,,Plumstead,...,0.092420,51.487148,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,647021a2bb887170403b6e68,1380578,0,14425,Howe and Co Fish and Chips - Van 17,Mobile caterer,7846,Restaurant And Premises 107A Plumstead High St...,,Plumstead,...,0.092537,51.487534,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,647021a2bb887170403b6e74,694609,0,PI/000116619,Volunteer,Pub/bar/nightclub,7843,130 - 132 Plumstead High Street,,Plumstead,...,0.092080,51.487344,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,647021a2bb887170403b6e8b,695241,0,PI/000179088,Plumstead Manor Nursery,Caring Premises,5,Plumstead Manor School Old Mill Road,,Plumstead,...,0.085994,51.481518,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,647021a2bb887170403b6e8e,694478,0,PI/000086506,Atlantic Fish Bar,Takeaway/sandwich shop,7844,35 Lakedale Road,,Plumstead,...,0.091216,51.486730,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 4. How many establishments in each Local Authority area have a hygiene score of zero?

In [78]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query = {'$match': {'scores.Hygiene':{'$eq':0}}}

# 2. Groups the matches by Local Authority
group_query = {'$group': {'_id':'$LocalAuthorityName',
                          'count':{'$sum': 1}}}

# 3. Sorts the matches from highest to lowest
sort_values = {'$sort': {'count':-1}}

# Print the number of documents in the result
pipeline = [match_query, group_query, sort_values]
# Print the first 10 results
results_hygiene_zero = list(establishments.aggregate(pipeline))
results_hygiene_zero[0:10]

[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [79]:
# Convert the result to a Pandas DataFrame
hygiene_zero_df = pd.DataFrame(results_hygiene_zero)

# Display the number of rows in the DataFrame
print(f"Document_count: {len(hygiene_zero_df)}")

# Display the first 10 rows of the DataFrame
hygiene_zero_df.head(10)

Document_count: 55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542